In [1]:
print("Welcome to Assignment-1")

Welcome to Assignment-1

In [2]:
num1=10
num2=30
print("answer:",num1+num2)

answer: 40

In [ ]:
#body mass index

In [6]:
BMI=int(input("Enter the BMI index : "))

Enter the BMI index : 31

In [7]:
if(BMI<18.5):
    print("underweight")
elif(BMI<24.9):
    print("normal")
elif(BMI<29.9):
    print("over weight")
else:
    print("obese")

obese

In [1]:
print("HOPE AI")

HOPE AI

In [2]:
NAME=input("Enter your institute name? :")

Enter your institute name? :HOPE AI

In [3]:
NAME=input("Enter your name :")
NAME=input("Enter your age :")
NAME=input("Enter your college name :")
NAME=input("Enter your degree name :")

Enter your name :Pooja
Enter your age :20
Enter your college name :Sona college of technology
Enter your degree name :B.Tech.Fashion technology

In [4]:
a=43
b=34
add=a+b
print(add)

77

In [1]:
c=43
d=34
print("add=",c+d)

add= 77

In [2]:
a=43
b=34
print(a-b)

9

In [7]:
a=63
b=97
print(a*b)

6111

In [8]:
a=76
b=31
print(a/b)

2.4516129032258065

In [9]:
a=76
b=31
print(a//b)

2

In [10]:
a=76
b=31
print(a%b)

14

In [11]:
a=4
b=4
print(a**b)

256

In [12]:
print(range(0,20))

range(0, 20)

In [13]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [3]:
list=[10,20,14,55,43,87,76]

In [6]:
print(list)
print("number of item in the list2:")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
number of item in the list2:
7

In [24]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [28]:
a=(1,"welcome",2,"Hope")
print(a)

(1, 'welcome', 2, 'Hope')

In [30]:
b=((0,1,2,3),("Python","Hope"))
print(b)

((0, 1, 2, 3), ('Python', 'Hope'))

In [4]:
print("Artificial Intelligence")
a="Artificial Intelligence"
i=len(a)
for i in range(i):
    print(a[i])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [2]:
list=[20,10,16,19,25,1,276,188]

In [3]:
for i in list:
    if(i%2==0):
        print(i,":even number")
    else:
        print(i,":odd number")

20 :even number
10 :even number
16 :even number
19 :odd number
25 :odd number
1 :odd number
276 :even number
188 :even number

In [8]:
i=int(input("value :"))
if(i==10):
    print("correct")

value :10
correct

In [2]:
password=input("Enter the password: ")

Enter the password: HOPE@123

In [3]:
if("password==HOPE@123"):
    print("your password is correct")
else:
    print("your password is in correct")

your password is correct

In [4]:
age=int(input("age : "))
if(age<18):
    print("children")
elif(age<29):
    print("Adult")
elif(age<36):
    print("Citizen")
else:
    print("senior citizen")

age : 23
Adult

In [5]:
n=int(input("enter any munber: "))
if(n>0):
    print("num is positive")
else:
    print("num is negative")

enter any munber: 1
num is positive

In [6]:
n=int(input("enter a munber to check: "))
if(n%5==0):
    print("num is divisible by 5")
else:
    print("num is not divisible by 5 ")

enter a munber to check: 22
num is not divisible by 5